.button-container {
    display: flex;
    justify-content: center; 
  }
  
.button {
    background-color: var(--secondary-color); 
    font-weight: bold;
    border: var(--border);
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 15px;
 }

 .button:hover{
    background-color: var(--tertiary-color);
    border: 4px solid #e1d9b4;
 }

 .header{
    text-align: center;
 }

 .message {
    font-weight: bold;
    font-style: italic;
    text-align: center;
 }